$font-color:#1c6188;
$secondary-theme-color:#ff194e;
$secondary-font-color:#ffffff;
.main-menu .bg-info{
    background-color: #ffffff !important;    
    box-shadow: 0px 2px 10px #d5ddec;    
    padding: 10px 16px;

    .logo-img{
        img{
            width: 134px;
        }
    }
}