.main-menu .bg-info{
    background-color: #ffffff !important;    
    box-shadow: 0px 0px 10px #d5ddec;    
    padding: 16px;

    .logo-img{
        img{
            width: 134px;
        }
    }
}